In [57]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import matthews_corrcoef
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score, roc_curve
from sklearn.datasets import load_digits

## Load the data

In [58]:
atac = pd.read_csv('Hackathon2024.ATAC.txt', sep='\t')
atac.head()

,peak,AAACCAACACAATGCC.1,AAACCAACAGGAACTG.1,AAACCAACATAATCCG.1,AAACCAACATTGTGCA.1,AAACCGCGTACTTCAC.1,AAACCGGCATAATCAC.1,AAACGCGCAGCAAGAT.1,AAACGGATCCCATAGG.1,AAAGCAAGTGCTAGCG.1,...,TTTGTCCCAGTAGGAT.1,TTTGTCTAGCTATTAG.1,TTTGTCTAGGACCTGC.1,TTTGTGAAGCGATACT.1,TTTGTGAAGGAACGGT.1,TTTGTGGCAGCAACCT.1,TTTGTGTTCATTGACA.1,TTTGTGTTCGTCAAGT.1,TTTGTGTTCTCCATAT.1,TTTGTTGGTCAGGAAG.1
0,chr1-10109-10357,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,chr1-180730-181630,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,0
2,chr1-191491-191736,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,chr1-267816-268196,0,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,chr1-586028-586373,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [59]:
atac.tail()

,peak,AAACCAACACAATGCC.1,AAACCAACAGGAACTG.1,AAACCAACATAATCCG.1,AAACCAACATTGTGCA.1,AAACCGCGTACTTCAC.1,AAACCGGCATAATCAC.1,AAACGCGCAGCAAGAT.1,AAACGGATCCCATAGG.1,AAAGCAAGTGCTAGCG.1,...,TTTGTCCCAGTAGGAT.1,TTTGTCTAGCTATTAG.1,TTTGTCTAGGACCTGC.1,TTTGTGAAGCGATACT.1,TTTGTGAAGGAACGGT.1,TTTGTGGCAGCAACCT.1,TTTGTGTTCATTGACA.1,TTTGTGTTCGTCAAGT.1,TTTGTGTTCTCCATAT.1,TTTGTTGGTCAGGAAG.1
108339,chrX-155997360-155997882,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
108340,chrX-156030027-156030149,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
108341,chrY-11295678-11295744,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
108342,chrY-11332988-11334144,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
108343,chrY-56836663-56837005,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [60]:
rna = pd.read_csv('Hackathon2024.RNA.txt', sep='\t')
rna

,gene,AAACCAACACAATGCC.1,AAACCAACAGGAACTG.1,AAACCAACATAATCCG.1,AAACCAACATTGTGCA.1,AAACCGCGTACTTCAC.1,AAACCGGCATAATCAC.1,AAACGCGCAGCAAGAT.1,AAACGGATCCCATAGG.1,AAAGCAAGTGCTAGCG.1,...,TTTGTCCCAGTAGGAT.1,TTTGTCTAGCTATTAG.1,TTTGTCTAGGACCTGC.1,TTTGTGAAGCGATACT.1,TTTGTGAAGGAACGGT.1,TTTGTGGCAGCAACCT.1,TTTGTGTTCATTGACA.1,TTTGTGTTCGTCAAGT.1,TTTGTGTTCTCCATAT.1,TTTGTTGGTCAGGAAG.1
0,MIR1302-2HG,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,FAM138A,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,OR4F5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,AL627309.1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,AL627309.3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36596,AC141272.1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36597,AC023491.2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36598,AC007325.1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36599,AC007325.4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36600,AC007325.2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [61]:
meta = pd.read_csv('Hackathon2024.Meta.txt', sep='\t')
meta.head()

                    nCount_RNA  nCount_ATAC   CellType
AAACCAACACAATGCC-1        5849        16550  CD14 Mono
AAACCAACAGGAACTG-1        5901        25593  CD14 Mono
AAACCAACATAATCCG-1        7975        42743  CD14 Mono
AAACCAACATTGTGCA-1        5525        21760  CD14 Mono
AAACCGCGTACTTCAC-1       10327        76652  CD14 Mono

In [62]:
train = pd.read_csv('Hackathon2024.Training.Set.Peak2Gene.Pairs.txt', sep='\t')
train.head()

,peak,gene,Pair,Peak2Gene
0,chr1-89196985-89201657,GBP2,chr1-89196985-89201657_GBP2,True
1,chr6-33077557-33083333,HLA-DPA1,chr6-33077557-33083333_HLA-DPA1,True
2,chr6-137789753-137792920,TNFAIP3,chr6-137789753-137792920_TNFAIP3,True
3,chr1-212604203-212626574,ATF3,chr1-212604203-212626574_ATF3,True
4,chr2-96541661-96555628,ARID5A,chr2-96541661-96555628_ARID5A,True

In [63]:
test = pd.read_csv('Hackathon2024.Testing.Set.Peak2Gene.Pairs.txt', sep='\t')
test.head()

                     peak    gene                         Pair Peak2Gene
0    chr1-1245493-1248050    SDF4    chr1-1245493-1248050_SDF4         ?
1    chr1-1330394-1334148  MRPL20  chr1-1330394-1334148_MRPL20         ?
2    chr1-2145904-2147150  FAAP20  chr1-2145904-2147150_FAAP20         ?
3    chr1-9713011-9736481  PIK3CD  chr1-9713011-9736481_PIK3CD         ?
4  chr1-21287896-21301043    ECE1  chr1-21287896-21301043_ECE1         ?

## Preprocessing data

In [64]:
# if rna.isnull().values.any():
#     print('true')
# else:
#     print('false')

In [65]:
# #StandardScaler

# scaler = StandardScaler()
# standard_rna = pd.DataFrame(scaler.fit_transform(rna), columns=rna.columns)
# standard_rna

In [66]:
# standard_atac = pd.DataFrame(scaler.fit_transform(atac), columns=atac.columns)
# standard_atac

In [67]:
def matthew_corr(peak_series, gene_series, atac, rna):
    correlations = []

    for peak, gene in zip(peak_series, gene_series):
        atac_filtered = atac[atac['peak'] == peak].drop(columns=['peak'])
        rna_filtered = rna[rna['gene'] == gene].drop(columns=['gene'])
        
        atac_val = atac_filtered.values.flatten()
        rna_val = rna_filtered.values.flatten()
        
        if len(atac_val) == len(rna_val):
            correlation = matthews_corrcoef(atac_val, rna_val)
            correlations.append(correlation)
        else:
            correlations.append(None)  # Handle length mismatch

    return correlations

In [68]:
train['matthew_corr'] = matthew_corr(train['peak'], train['gene'], atac, rna)
train

,peak,gene,Pair,Peak2Gene,matthew_corr
0,chr1-89196985-89201657,GBP2,chr1-89196985-89201657_GBP2,True,0.037865
1,chr6-33077557-33083333,HLA-DPA1,chr6-33077557-33083333_HLA-DPA1,True,0.035744
2,chr6-137789753-137792920,TNFAIP3,chr6-137789753-137792920_TNFAIP3,True,0.043346
3,chr1-212604203-212626574,ATF3,chr1-212604203-212626574_ATF3,True,0.014036
4,chr2-96541661-96555628,ARID5A,chr2-96541661-96555628_ARID5A,True,0.025413
...,...,...,...,...,...
295,chr1-151593645-151594727,SNX27,chr1-151593645-151594727_SNX27,False,0.001631
296,chr14-52692182-52692881,PSMC6,chr14-52692182-52692881_PSMC6,False,0.011448
297,chr19-45527935-45529784,FOSB,chr19-45527935-45529784_FOSB,False,-0.007107
298,chr17-32352719-32356100,ZNF207,chr17-32352719-32356100_ZNF207,False,0.003515
299,chr5-77629349-77631531,WDR41,chr5-77629349-77631531_WDR41,False,0.003229

In [69]:
train['Peak2Gene_val'] = train['Peak2Gene'].astype(int)
train

,peak,gene,Pair,Peak2Gene,matthew_corr,Peak2Gene_val
0,chr1-89196985-89201657,GBP2,chr1-89196985-89201657_GBP2,True,0.037865,1
1,chr6-33077557-33083333,HLA-DPA1,chr6-33077557-33083333_HLA-DPA1,True,0.035744,1
2,chr6-137789753-137792920,TNFAIP3,chr6-137789753-137792920_TNFAIP3,True,0.043346,1
3,chr1-212604203-212626574,ATF3,chr1-212604203-212626574_ATF3,True,0.014036,1
4,chr2-96541661-96555628,ARID5A,chr2-96541661-96555628_ARID5A,True,0.025413,1
...,...,...,...,...,...,...
295,chr1-151593645-151594727,SNX27,chr1-151593645-151594727_SNX27,False,0.001631,0
296,chr14-52692182-52692881,PSMC6,chr14-52692182-52692881_PSMC6,False,0.011448,0
297,chr19-45527935-45529784,FOSB,chr19-45527935-45529784_FOSB,False,-0.007107,0
298,chr17-32352719-32356100,ZNF207,chr17-32352719-32356100_ZNF207,False,0.003515,0
299,chr5-77629349-77631531,WDR41,chr5-77629349-77631531_WDR41,False,0.003229,0

In [70]:
atac['peak_access_num'] = (atac.drop(columns=['peak']) > 0).sum(axis=1)

In [71]:
rna['gene_exp_num'] = (rna.drop(columns=['gene']) > 0).sum(axis=1)

In [72]:
train = pd.merge(train, atac[['peak', 'peak_access_num']], on='peak', how='left')
train = pd.merge(train, rna[['gene', 'gene_exp_num']], on='gene', how='left')
train.head()

,peak,gene,Pair,Peak2Gene,matthew_corr,Peak2Gene_val,peak_access_num,gene_exp_num
0,chr1-89196985-89201657,GBP2,chr1-89196985-89201657_GBP2,True,0.037865,1,462,2264
1,chr6-33077557-33083333,HLA-DPA1,chr6-33077557-33083333_HLA-DPA1,True,0.035744,1,770,1558
2,chr6-137789753-137792920,TNFAIP3,chr6-137789753-137792920_TNFAIP3,True,0.043346,1,739,1043
3,chr1-212604203-212626574,ATF3,chr1-212604203-212626574_ATF3,True,0.014036,1,2593,1780
4,chr2-96541661-96555628,ARID5A,chr2-96541661-96555628_ARID5A,True,0.025413,1,1111,674

## Training

In [73]:
# Setting SEED for reproducibility
SEED = 23
 
# Importing the dataset 
# X, y = load_digits(return_X_y=True)

X = train[['matthew_corr', 'peak_access_num', 'gene_exp_num']]
y = train['Peak2Gene_val']
 
# Splitting dataset
train_X, test_X, train_y, test_y = train_test_split(X, y, 
                                                    test_size = 0.2, 
                                                    random_state = SEED)
 
# Instantiate Gradient Boosting Regressor
gbc = GradientBoostingClassifier(n_estimators=300,
                                 learning_rate=0.05,
                                 random_state=100,
                                 max_features=5 )

# Fit to training set
gbc.fit(train_X, train_y)
 
# Predict on test set
pred_y = gbc.predict(test_X)
 
# accuracy
acc = accuracy_score(test_y, pred_y)
precision = precision_score(test_y, pred_y)
recall = recall_score(test_y, pred_y)
f1 = f1_score(test_y, pred_y)

print("Gradient Boosting Classifier accuracy is : {:.2f}".format(acc))
print("Precision:", precision)
print("Recall:", recall)
print("F1 Score:", f1)

Gradient Boosting Classifier accuracy is : 0.98
Precision: 0.96875
Recall: 1.0
F1 Score: 0.9841269841269841

In [74]:
# try RandomForest (import packages)

## Predicting

In [75]:
atac = pd.read_csv('Hackathon2024.ATAC.txt', sep='\t')
rna = pd.read_csv('Hackathon2024.RNA.txt', sep='\t')

In [76]:
test['matthew_corr'] = matthew_corr(test['peak'], test['gene'], atac, rna)
test.head()

,peak,gene,Pair,Peak2Gene,matthew_corr
0,chr1-1245493-1248050,SDF4,chr1-1245493-1248050_SDF4,?,0.004167
1,chr1-1330394-1334148,MRPL20,chr1-1330394-1334148_MRPL20,?,0.007746
2,chr1-2145904-2147150,FAAP20,chr1-2145904-2147150_FAAP20,?,0.002884
3,chr1-9713011-9736481,PIK3CD,chr1-9713011-9736481_PIK3CD,?,0.016391
4,chr1-21287896-21301043,ECE1,chr1-21287896-21301043_ECE1,?,0.023160

In [77]:
atac['peak_access_num'] = (atac.drop(columns=['peak']) > 0).sum(axis=1)
test = pd.merge(test, atac[['peak', 'peak_access_num']], on='peak', how='left')

In [78]:
rna['gene_exp_num'] = (rna.drop(columns=['gene']) > 0).sum(axis=1)
test = pd.merge(test, rna[['gene', 'gene_exp_num']], on='gene', how='left')
test.head()

,peak,gene,Pair,Peak2Gene,matthew_corr,peak_access_num,gene_exp_num
0,chr1-1245493-1248050,SDF4,chr1-1245493-1248050_SDF4,?,0.004167,156,388
1,chr1-1330394-1334148,MRPL20,chr1-1330394-1334148_MRPL20,?,0.007746,230,688
2,chr1-2145904-2147150,FAAP20,chr1-2145904-2147150_FAAP20,?,0.002884,179,341
3,chr1-9713011-9736481,PIK3CD,chr1-9713011-9736481_PIK3CD,?,0.016391,1668,1807
4,chr1-21287896-21301043,ECE1,chr1-21287896-21301043_ECE1,?,0.023160,1840,670

In [79]:
test['prediction'] = gbc.predict(test[['matthew_corr', 'peak_access_num', 'gene_exp_num']])
test.head()

,peak,gene,Pair,Peak2Gene,matthew_corr,peak_access_num,gene_exp_num,prediction
0,chr1-1245493-1248050,SDF4,chr1-1245493-1248050_SDF4,?,0.004167,156,388,0
1,chr1-1330394-1334148,MRPL20,chr1-1330394-1334148_MRPL20,?,0.007746,230,688,0
2,chr1-2145904-2147150,FAAP20,chr1-2145904-2147150_FAAP20,?,0.002884,179,341,0
3,chr1-9713011-9736481,PIK3CD,chr1-9713011-9736481_PIK3CD,?,0.016391,1668,1807,0
4,chr1-21287896-21301043,ECE1,chr1-21287896-21301043_ECE1,?,0.023160,1840,670,1

In [80]:
prediction = ['TRUE' if y == 1 else 'FALSE' for y in test['prediction']]
test['Peak2Gene'] = prediction
result = test[['peak', 'gene', 'Pair', 'Peak2Gene']]
result.to_csv('prediction.csv', index=False, sep=',')

In [82]:
# # Define the conversion function
# def convert(test_result):
#     return ['TRUE' if value == 1 else 'FALSE' for value in test_result]

# test['matthew_corr'] = matthew_corr(test['peak'], test['gene'], atac, rna)

# # atac feature engineering
# atac['peak_access_num'] = (atac.drop(columns=['peak']) > 0).sum(axis=1)
# test = pd.merge(test, atac[['peak', 'peak_access_num']], on='peak', how='left')

# # rna feature engineering
# rna['gene_exp_num'] = (rna.drop(columns=['gene']) > 0).sum(axis=1)
# test = pd.merge(test, rna[['gene', 'gene_exp_num']], on='gene', how='left')

# # Reshape the 'matthew_corr' column to a 2D DataFrame
# test['test_result'] = gbc.predict(test[['matthew_corr', 'peak_access_num', 'gene_exp_num']])

# # Apply the conversion function to test_result and assign to Peak2Gene
# test['Peak2Gene'] = convert(test['test_result'])

# # Select the desired columns from test
# test_selected = test[['peak', 'gene', 'Pair', 'Peak2Gene']]

# # Save as a tab-delimited text file
# test_selected.to_csv('prediction.csv', index=False)
# print('prediction saved')

In [83]:
# # Export the prediction into the file
# test['Peak2Gene'] = y_predict
# test.to_csv('prediction.csv', index=False, sep=',')